{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h2>Tambah Dosen</h2>
  <form method="post">
    <div class="mb-3">
      <label>Nama</label>
      <input type="text" class="form-control" name="nama" required />
    </div>
    <div class="mb-3">
      <label>NIP</label>
      <input type="text" class="form-control" name="nip" required />
    </div>
    <div class="mb-3">
      <label>Prodi</label>
      <input type="text" class="form-control" name="prodi" required />
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
    <a href="{{ url_for('dosen.manage_dosen') }}" class="btn btn-secondary"
      >Batal</a
    >
  </form>
</div>
{% endblock %}
