<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Aplikasi Kampus{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 font-sans min-h-screen">
    <!-- Navbar -->
    <nav class="bg-pink-600 text-white px-6 py-3 flex gap-4">
      <a href="{{ url_for('main.dashboard') }}" class="hover:underline"
        >Dashboard</a
      >
      <a href="{{ url_for('main.manage_users') }}" class="hover:underline"
        >User</a
      >
      <a href="{{ url_for('main.manage_roles') }}" class="hover:underline"
        >Role</a
      >
      <a href="{{ url_for('main.manage_matakuliah') }}" class="hover:underline"
        >Mata Kuliah</a
      >
      <a href="{{ url_for('dosen.manage_dosen') }}" class="hover:underline"
        >Dosen</a
      >
      <a href="{{ url_for('main.manage_mahasiswa') }}" class="hover:underline"
        >Mahasiswa</a
      >
      <a
        href="{{ url_for('admin_jadwal.list_jadwal') }}"
        class="hover:underline"
        >Jadwal</a
      >
    </nav>
    <div class="container mx-auto mt-6">{% block content %}{% endblock %}</div>
  </body>
</html>
