<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>NIP</th>
      <th>Prodi</th>
      <!-- Tambahkan ini -->
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for d in dosen %}
    <tr>
      <td>{{ d.nama }}</td>
      <td>{{ d.nip }}</td>
      <td>{{ d.prodi }}</td>
      <!-- Tampilkan prodi -->
      <td>
        <a
          href="{{ url_for('main.edit_dosen', dosen_id=d.id) }}"
          class="btn btn-sm btn-warning"
          >Edit</a
        >
        <a
          href="{{ url_for('main.delete_dosen', dosen_id=d.id) }}"
          class="btn btn-sm btn-danger"
          >Hapus</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
