{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h2>Edit Dosen</h2>
  <form method="post">
    <div class="mb-3">
      <label>Nama</label>
      <input
        type="text"
        class="form-control"
        name="nama"
        value="{{ dosen.nama }}"
        required
      />
    </div>
    <div class="mb-3">
      <label>NIP</label>
      <input
        type="text"
        class="form-control"
        name="nip"
        value="{{ dosen.nip }}"
        required
      />
    </div>
    <div class="mb-3">
      <label>Prodi</label>
      <input
        type="text"
        class="form-control"
        name="prodi"
        value="{{ dosen.prodi }}"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{{ url_for('dosen.manage_dosen') }}" class="btn btn-secondary"
      >Batal</a
    >
  </form>
</div>
{% endblock %}
