<!DOCTYPE html>
<html>
  <head>
    <title>Data Mahasiswa</title>
  </head>
  <body>
    <h2>Data Mahasiswa</h2>

    <a href="{{ url_for('main.add_mahasiswa') }}">Tambah Mahasiswa</a>

    <form method="get" action="{{ url_for('main.manage_mahasiswa') }}">
      <input
        type="text"
        name="q"
        value="{{ search_query }}"
        placeholder="Cari..."
      />
      <button type="submit">Cari</button>
    </form>

    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>NIM</th>
        <th>Jurusan</th>
        <th>Aksi</th>
      </tr>
      {% for mhs in mahasiswa %}
      <tr>
        <td>{{ mhs.id }}</td>
        <td>{{ mhs.nama }}</td>
        <td>{{ mhs.nim }}</td>
        <td>{{ mhs.jurusan }}</td>
        <td>
          <a href="{{ url_for('main.edit_mahasiswa_form', mhs_id=mhs.id) }}"
            >Edit</a
          >
          |
          <a
            href="{{ url_for('main.delete_mahasiswa', mhs_id=mhs.id) }}"
            onclick="return confirm('Yakin ingin menghapus?')"
            >Hapus</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
